
@{
    ViewData["Title"] = "Alumni";
}

<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1> <strong>Alumni </strong> </h1>
        <p>The brightest students (alumni) of the college every year (1989-2023) </p>
    </div>
</div>
<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>Note from the Website Administrator:</strong> The contents in this website were last updated in
                    2014. For latest updated source of the highest ranked alumni after 2014, kindly <a href="/ContactUs">contact</a>
                    the college administration.
                </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><strong>No.</strong></td>
                            <td><strong>Name of the Student</strong></td>
                            <td><strong>Result</strong></td>
                            <td><strong>Year of Passing</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Patel Nimeshkumar Mohanlal</td>
                            <td>70.71%</td>
                            <td>1989-90</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Patel Ashvinkumar Purushottamdas</td>
                            <td>69.31%</td>
                            <td>1990-91</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Zala Narendrasinh Kesharisinh</td>
                            <td>71.71%</td>
                            <td>1991-92</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Patel Pravinkumar Ramabhai</td>
                            <td>70.04%</td>
                            <td>1992-93</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Patel Rameshbhai Chhababhai</td>
                            <td>70.92%</td>
                            <td>1993-94</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Valand Ishvarbhai Prabhabhai</td>
                            <td>73.26%</td>
                            <td>1994-95</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Patel Dilipkumar Chhanabhai</td>
                            <td>74.00%</td>
                            <td>1995-96</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Tarar Chhaganbhai Kacharabhai</td>
                            <td>68.54%</td>
                            <td>1996-97</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Patel Nareshkumar Punjabhai</td>
                            <td>69.60%</td>
                            <td>1997-98</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Ninama Jitendrakumar Daljibhai</td>
                            <td>64.50%</td>
                            <td>1998-99</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Patel Cheljibhabhai Virsangbhai</td>
                            <td>66.70%</td>
                            <td>1999-2000</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Katara Manubhai Jivabhai</td>
                            <td>69.00%</td>
                            <td>2000-2001</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Patel Rohitkumar Ishvarbhai</td>
                            <td>69.00%</td>
                            <td>2001-2002</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Patel Narendrakumar Kalidas</td>
                            <td>69.42%</td>
                            <td>2002-2003</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Patel Kaniyalal Jayantibhai</td>
                            <td>64.00%</td>
                            <td>2003-2004</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Patel Upenrdakumar Amrutlal</td>
                            <td>72.08%</td>
                            <td>2004-2005</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Patel Vipulkumar Bhikhabhai</td>
                            <td>70.92%</td>
                            <td>2005-2006</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Patel Vijaykumar Ramanlal</td>
                            <td>72.50%</td>
                            <td>2006-2007</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>Joshi Milankumar Vasantbhai</td>
                            <td>74.17%</td>
                            <td>2007-2008</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Patel Vipulkumar Vajubhai</td>
                            <td>76.25%</td>
                            <td>2008-2009</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>Dataniya Shaileshbhai Baldevbhai</td>
                            <td>71.58%</td>
                            <td>2009-2010</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>Patel Kalpeshkumar Nathabhai</td>
                            <td>69.66%</td>
                            <td>2010-2011</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>Bharvad Kalubhai Chhanabhai</td>
                            <td>70.92%</td>
                            <td>2011-2012</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>Thakor Shaileshji Ramanji</td>
                            <td>78.91%</td>
                            <td>2012-2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>