@{
    ViewData["Title"] = "Board of Directors";
}
<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1><strong>Board of Directors</strong></h1>
        <p>The pillars of the Sabar Gramseva Mahavidyalay</p>
    </div>
</div>
<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="main_title">
            <p>
                <strong>Shree Gopaldas Patel Foundation </strong> handles several activities for a multi-dimension developments of the district. Its very first step in this direction was the successful beginning of <strong>Sabar Gram Vidyapeeth, Sonasan</strong>                    to reach the goal of educating the new generation of the district.
            </p>
        </div>
        <div class="row staff">
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod1.jpg" alt="" class="img-circle styled"></p>
                    <h4>Late Shree Gopaldas Patel</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod16.jpg" alt="" class="img-circle styled"></p>
                    <h4>Mr. Kanubhai M Patel <br /> <small>President</small></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod5.jpg" alt="" class="img-circle styled"></p>
                    <h4>Mr. Maheshbhai Patel <br /><small>Vice President</small></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod4.jpg" alt="" class="img-circle styled"></p>
                    <h4>Mr. Ambalal J Upadhyay <br /><small>Secretary</small></h4>
                </div>
            </div>
        </div>
        <div class="row staff">
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod3.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Khemabhai H Patel<br /> <small> Secretary</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod13.jpg" alt="" class="img-circle styled"></p>
                    <h4>Mr. Jethabhai P Patel<br /> <small>Treasurer</small></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod6.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Manibhai I Patel <br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod7.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Manubhai R Patel <br /><small>Director</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row staff">
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod8.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Jitubhai M Patel
                        <br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod9.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Natubhai R Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod10.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Dineshbhai S Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod11.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Bipinbhai K Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row staff">
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod12.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Jayantibhai N Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod14.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Kodarbhai K Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod15.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Purushottam R Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod17.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Mr. Nareshbhai R Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row staff">
            <div class="col-md-3">
                <div class="box_style_1">
                    <p><img src="/img/bod/bod18.jpg" alt="" class="img-circle styled"></p>
                    <h4>
                        Smt Hiraben B Patel<br /><small>Director</small>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

