@{
    ViewData["Title"] = "College";
}
<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1> <strong>College </strong> </h1>
        <p>About Sabar Gramseva Mahavidyalay, Sonasan </p>
    </div>
</div>
<div class="container margin_60">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h3>Courses &amp; Departments</h3>
            <p>
                Sabar Gramseva Mahavidyalay, offers three courses to its students i.e. BRS, MRS and MSW. Learn more about these courses <a asp-area="" asp-controller="Home" asp-action="Courses">here</a>.
            </p>
            <p>
                Sabar Gramseva Mahavidyalay has 4 academic departments in the college.
                <ol class="list_3">
                    <li>Agronomy Department</li>
                    <li>Animal Husbandry Department</li>
                    <li>Horticulture Department</li>
                    <li>Rural Extension and Social Reconstruction Department</li>
                </ol>
            </p>
            <h3>Infrastructure</h3>
            <p>
                Sabar Gramseva Mahavidyalay is spread across 107 acres of land at Sonasan Village. Sabar Gramseva Mahavidyalay has its own college building including separate staff room for each college, a big common assembly hall with full A. V. Aids, a well equipped
                laboratory, a big library having about six thousand books and a mass of 40 periodicals, journals and magazines of different subjects and tests. We have also 3 classrooms for BRS, 2 for MSW and 2 for MRS with good ventilation. Three
                administrative staff offices for each courses, separate office for the principals, a comfortable guest house, three toilet blocks having 24 hours water supply in entire building.
            </p>
            <p>
                The college building has an Agronomy Lab, Animal Husbandry Lab, Horticulture Nursery, Medicinal Plant Garden and Well Equipped Dispensary.
            </p>
            <h3>Accredited by NAAC and KCG, Gujarat</h3>
            <p>
                The college is working with the objective of getting excellence through Gandhian thoughts which are based on 3 hands: Head, Heart and Hands. The NAAC team assessed the college for its physical quality of imparting education for the tenure of 2015-2019
                and accredited with Grade B.
            </p>
            <p>
                Earlier, the Knowledge Consortium of Gujarat (KCG) accredited the college for excellence in delivering education for the tenure of 2012-2015.
            </p>
            <h3>Affiliation with Hemchandracharya North Gujarat University</h3>
            <p>
                The college was recognized in 1987 by the Govt of Gujarat and was sanctioned the Financial Grant in 1990. Later BRS degree was equivaled to BA (Bachelor of Arts) by the Department of Education, Govt of Gujarat. In 1998, we were given a temporary affiliation.
                Through the notification No. <strong>UGJ/1596/2313/KH-1</strong> of Secretoriate, Govt of Gujarat, Gandhinagar dated 21<sup>st</sup>June, 2008; the college has been given permanent affiliation with
                <a href="http://www.ngu.ac.in/" target="_blank"> Hemchandracharya North Gujarat University, Patan</a> right from 15<sup>th</sup> June, 2001.
            </p>
            <h3>Campus Selections and Placement</h3>
            <p>
                About 50 to 60 students every year get their BRS degree from our college and most of them are absorbed in pesticides, seed producing, fertilizer industries, and NGOs as marketing staff or field workers. Some of them also take initiatives of starting an
                NGO of their own or beginning agro centers. Those who have successfully passed their BRS degree may also apply for <em>Gramsevak</em>, Extension Officer, Field Assistant in Govt of Gujarat.
            </p>
            <h3>Facilities</h3>
            <p>
                <ol>
                    <li>
                        <strong>Hostels: </strong> Apart from their own facilities, Sabar Gramseva Mahavidyalay has Hostel Facilities for the students. The hostel has 18 rooms (each capable of accomodating 3 to 5 students), a dinning hall with kitchen
                        and store fringed to the main building of the hostel. The ractor stays 24 hr with the students in the same building.
                    </li>
                    <li>
                        <strong>Staff quarters: </strong> Sabar Gramseva Mahavidyalay provides residential staff quarters to our teaching and non-teaching staffs.
                    </li>
                    <li>
                        <strong>Gaushala: </strong> Sabar Gramseva Mahavidyalay has availed a full fledged Gaushala (Cowshed) having 30+ milking cows. The cowshed has its own fodder godown and 10 acre area land producing green fodder.
                    </li>
                    <li>
                        <strong>Irrigation Facilities: </strong> Sabar Gramseva Mahavidyalay has 4 tube-wells with necessary and sufficient pipeline and drip-irrigation facilities and overhead tanks.
                    </li>
                </ol>
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box_style_4">
                <h3>Activities</h3>
                <p>
                    Just to impart the scientific approach through education to the farmers in farming and animal husbandry, Sabar Gramseva Mahavidyalay also runs a cowshed (gaushala) in 30 units. The major objective of cowshed is to breed and protect the endangering Kankarej
                    and Gir cows. The institute has its own residential college and hostel buildings. Sabar Gramseva Mahavidyalay is engaged in implementing the several programmes of the government regarding farmers and environment awareness programs,
                    No-addiction Programs, Disease Diagnosis Camps, Blood Donation Camps, Animal Camps etc as an NGO.
                </p>
                <h3>Camps and Seminars</h3>
                <p>
                    The college often arranges various camps and seminars such as:
                </p>
                <ul class="list_4">
                    <li>NSS Programs</li>
                    <li>Blood Donation Camps</li>
                    <li>ખેડૂત શિબિર</li>
                    <li>Environment Awareness Programs</li>
                    <li>Youth Programs</li>
                    <li>Extra Mural Programs</li>
                    <li>Aids Disease Diagnosis Camp</li>
                    <li>Cattle Disease Diagnosis Camp</li>
                    <li>Drags and Addiction Control Programs</li>
                    <li>Women Empowerment Programs</li>
                    <li>Cultural Programs</li>
                    <li>Personality Development Programs</li>
                </ul>
                <h3>Extension Activities</h3>
                <ul class="list_4">
                    <li>ગાંધી વિચાર પ્રચાર-પ્રસાર</li>
                    <li>સ્વચ્છ ભારત મિશન</li>
                    <li>મતદાતા જાગૃતિ અભિયાન</li>
                    <li>ઓર્ગેનિક ફાર્મિંગ પ્રચાર-પ્રસાર</li>
                    <li>સ્વર્ણિમ ગુજરાત પ્રવૃત્તિઓ</li>
                    <li>Electoral Literary CLubs</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <ul class="magnific-gallery">
        <li>
            <figure>
                <img src="/img/gallery/0.jpg" title=" Campus" alt="Sabar Gramseva Mahavidyalay">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/0.JPG" title="Sabar Gramseva Mahavidyalay">
                            <i class="pe-7s-albums"></i>
                            <p>Sabar Gramseva Mahavidyalay</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/5.jpg" title=" Campus" alt=" Campus">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/5.JPG" title=" Campus">
                            <i class="pe-7s-albums"></i>
                            <p> Campus</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/2.jpg" title=" Campus" alt=" Campus">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/2.jpg" title=" Campus">
                            <i class="pe-7s-albums"></i>
                            <p> Campus</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/12.JPG" title=" Prayer Hall" alt=" Prayer Hall">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/12.JPG" title=" Prayer Hall">
                            <i class="pe-7s-albums"></i>
                            <p> Prayer Hall</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/6.jpg" title=" Library" alt=" Library">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/6.jpg" title=" Library">
                            <i class="pe-7s-albums"></i>
                            <p> Library</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/4.jpg" title=" Library" alt=" Library">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/4.jpg" title=" Library">
                            <i class="pe-7s-albums"></i>
                            <p> Library</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/3.jpg" title=" Gaushala" alt=" Gaushala">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/3.jpg" title=" Gaushala">
                            <i class="pe-7s-albums"></i>
                            <p> Gaushala</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/13.jpg" title=" Gaushala" alt=" Gaushala">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/13.jpg" title=" Gaushala">
                            <i class="pe-7s-albums"></i>
                            <p> Gaushala</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/1.jpg" title=" Bird Shelter Platform (ચબૂતરો)" alt=" Bird Shelter Platform (ચબૂતરો)">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/1.jpg" title=" Bird Shelter Platform (ચબૂતરો)">
                            <i class="pe-7s-albums"></i>
                            <p> Bird Shelter Platform (ચબૂતરો)</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/9.jpg" title=" Farming" alt=" Farming">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/9.jpg" title=" Farming">
                            <i class="pe-7s-albums"></i>
                            <p> Farming</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/10.jpg" title=" Hostel" alt=" Hostel">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/10.jpg" title=" Hostel">
                            <i class="pe-7s-albums"></i>
                            <p> Hostel</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/11.jpg" title=" Agriculture Land" alt=" Agriculture Land">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/11.jpg" title=" Agriculture Land">
                            <i class="pe-7s-albums"></i>
                            <p> Agriculture Land</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>