@{
    ViewData["Title"] = "Courses";
}
<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1> <strong>Courses </strong> </h1>
        <p>Courses run by Sabar Gramseva Mahavidyalay college </p>
    </div>
</div>
<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-9">
                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="javascript:;">
                                    <img src="img/course_1.jpg" alt="">
                                    <div class="short_info">
                                        <h3>BRS</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Bachelors</strong> of Rural Studies</h3>
                                <p>
                                    This is three years degree course. 10+2 passed students from any discipline can join this course. Admission roles is handled by the University. (H.N.G.U. Patan) It is totally centralized and merit base dorsally in June after the declaration of higher
                                    secondary results.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="button_outline">Contact For Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="javascript:;">
                                    <img src="img/course_1.jpg" alt="">
                                    <div class="short_info">
                                        <h3>MRS</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Masters</strong> of Rural Studies</h3>
                                <p>
                                    We have study centre of this course. Students, given admission by the University are taught in the centre. We have study centre of this course. Students, given admission by the University are taught in the centre.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="button_outline">Contact For Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="javascript:;">
                                    <img src="img/course_1.jpg" alt="">
                                    <div class="short_info">
                                        <h3>MSW</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Masters</strong> of Social Work</h3>
                                <p>
                                    This is two year post graduate course in social work. A graduate in any discipline from recognized university can get admission. This admission process is controlled by university (HNGU, Patan) on totally merit base.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="button_outline">Contact For Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3 style="margin-top:0px!important">What are the <strong>Rural Studies</strong> courses?</h3>
                <p>
                    The "Rural Studies" courses are made of 70% agriculture based subjects like Crop Production, Animal Husbandry, Crop Protection, Agriculture Chemistry, Crop Breeding, Agriculture Engineering, Agriculture Statistics, Horticulture and Forestry, Farm Management,
                    Soil Science, Extension Education, Community Development and the rest of the 30% of the course is based on humanities. In humanities, students are taught subjects like Rural Economics and Co-Operation, Fundaments of Economics,
                    History of Indian Culture and Society, World Religions, Gandhian Thoughts and Gandhism, Health and hygiene, Disaster Management and Human Resources Management as well as three major languages: English, Hindi, and Gujarati.
                </p>
                <p>
                    Physical activities are essential part of this course. So, every student is expected to work on fields at least 90 hrs. / semester for practical knowledge of the subject. This "<em>Shram</em>" is unavoidable for every student.
                    This is totally residential course. Everyone getting admission in B.R.S. must stay in the hostel during his study. We train them for community life. In hostel prayer sanitation participation in kitchen and "<em>Tookdi Karya</em>"
                    are compulsory activities for everyone.
                </p>
            </div>
        </div>
    </div>
</div>
