@{
    ViewData["Title"] = "Faculties";
}
<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1> <strong>Faculties </strong> </h1>
        <p>The teaching and the non-teaching staff of Sabar Gramseva Mahavidyalay</p>
    </div>
</div>
<div class="container_gray_bg">
    <div class="container margin_60">
        <h3>Teaching Staff</h3>
        <div class="row teaching-staff">
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/06.jpg" alt=" Shri Rajnikant C Patel" class="img-circle"></figure>
                        <h5>
                            Shri Rajnikant C Patel
                        </h5>
                        <p>Assistant Professor<br />BA, MSW, M.Phil, Diploma in Journalisam</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/44.jpg" alt="Shri Satishchandra C Trivedi" class="img-circle"></figure>
                        <h5>Shri Satishchandra C Trivedi </h5>
                        <p>Medical officer<br />BSAM, MA, M.Phil (Gandhian Philosophy), Diploma in Accupuncture</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/35.jpg" alt="Shri Prabhabhai L Patel" class="img-circle"></figure>
                        <h5>
                            Shri Prabhabhai L Patel
                        </h5>
                        <p>I/C Principal, Engineer<br />BE(Civil), MA(GT) </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/11.jpg" alt="Shri Maheshbhai D Rathod" class="img-circle"></figure>
                        <h5>
                            Shri Maheshbhai D Rathod
                        </h5>
                        <p>
                            Asstt. Professor <br /> MRS, MA, M.Phil (GT)
                        </p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/23.jpg" alt="Shri Manubhai S Patel" class="img-circle"></figure>
                        <h5>
                            Shri Manubhai S Patel
                        </h5>
                        <p>Asstt. Professor <br /> M.Sc (Agri) </p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/21.jpg" alt="Shri Bakulbhai S Patel" class="img-circle"></figure>
                        <h5>
                            Shri Bakulbhai S Patel
                        </h5>
                        <p>Asstt. Professor <br /> MA(Hindi), B.Ed </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/16.jpg" alt="Dr. Ashokbhai S Patel" class="img-circle"></figure>
                        <h5>
                            Dr. Ashokbhai S Patel
                        </h5>
                        <p>Asstt. Professor <br />M.Sc(Agri), M.Phil (GT), Ph.D.</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/14.jpg" alt="Shri Raghubhai B Ganvit" class="img-circle"></figure>
                        <h5>
                            Shri Raghubhai B Ganvit
                        </h5>
                        <p>Asstt. Professor <br /> BRS, B.Ed, MA(GT) </p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/32.jpg" alt="Prakashchandra N Patel" class="img-circle"></figure>
                        <h5>Prakashchandra N Patel</h5>
                        <p>Asstt. Professor <br />M.Sc(Agri)</p>
                    </li>
                </ul>
            </div>
        </div>
        <h3>Non-teaching Staff</h3>
        <div class="row teaching-staff">
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/1.jpg" alt=" Shri Shaileshbhai S Patel" class="img-circle"></figure>
                        <h5>
                            Shri Shaileshbhai S Patel
                        </h5>
                        <p>Accountant<br />BA</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/28.jpg" alt="Shri Jayeshkumar P Rami" class="img-circle"></figure>
                        <h5>
                            Shri Jayeshkumar P Rami
                        </h5>
                        <p>Peon<br />Std. 10 </p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/24.jpg" alt="Shri Dineshkumar M Patel" class="img-circle"></figure>
                        <h5>
                            Shri Dineshkumar M Patel
                        </h5>
                        <p>Stockman<br />BRS </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/41.jpg" alt="Shri Valjibhai R  Manat" class="img-circle"></figure>
                        <h5>
                            Shri Valjibhai R Manat
                        </h5>
                        <p>Peon<br />Std. 9</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/43.jpg" alt="Shri Jayantibhai V Patel" class="img-circle"></figure>
                        <h5>
                            Shri Jayantibhai V Patel
                        </h5>
                        <p>Jr Clerk <br />M.Com, C.Lib</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/07.jpg" alt="Shri Pravinbhai H Damor" class="img-circle"></figure>
                        <h5>
                            Shri Pravinbhai H Damor
                        </h5>
                        <p>Librarian<br />MA, C.Lib </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/faculties/18.jpg" alt="Shri Ashvinbhai J Patel" class="img-circle"></figure>
                        <h5>
                            Shri Ashvinbhai J Patel
                        </h5>
                        <p>Extension officer<br />BRS, MSW</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/25.jpg" alt="Shri Raghavbhai C Gohil" class="img-circle"></figure>
                        <h5>Shri Raghavbhai C Gohil</h5>
                        <p>Farm Manager<br />B.Sc.</p>
                    </li>
                    <li>
                        <figure><img src="/img/faculties/42.jpg" alt="Shri Dahyabhai D Bharvad" class="img-circle"></figure>
                        <h5>
                            Shri Dahyabhai D Bharvad
                        </h5>
                        <p>Watchman<br />Std. 9</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
