@{
    ViewData["Title"] = "Foundation";
}
<div class="sub_header bg_2">
    <div id="intro_txt">
        <h1> <strong>Shree Gopaldas Patel Foundation</strong> </h1>
        <p>Sabar Gramseva Mahavidyalay is run by <strong> Shree Gopaldas Foundation</strong> trust</p>
    </div>
</div>
<div class="container margin_60">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h3>About Late Shree Gopaldas Patel </h3>
            <p>
                Shree Gopaldas Patel was born on 24<sup>th</sup> April 1911, in a small village called <em>Poglu</em>, 6 KM away from Prantij, the Taluka headquarter of Sabarkantha Disctrict in Gujarat. He got his primary education in his birth village,
                Poglu. Later he went to Ahmedabad for higher studies and graduated in 1934 from the reputed <strong>Gujarat College</strong> and was awarded the degree of Bachelor of Arts (BA). He entered into public life when as a student he joined
                the <a href="https://en.wikipedia.org/wiki/Salt_March" target="_blank"> Salt March</a> against British Government as a part of Fight for Freedom in India in 1930. He also actively participated the <a href="https://en.wikipedia.org/wiki/Quit_India_Movement"
                                                                                                                                                                                                                        target="_blank">Quit India Movement</a> in 1942 and was sent to jail for 11 months. After independence in 1948, when Sabarkantha district came in to existence, he joined Indian National Congress as a social worker. Due to his commitment
                towards the society and common people, he was made the secretary of District Congress Committee. Then he continued stepping on and on and became the president of the District Local Board. He was elected an MLA (Member of Legislative
                Assembly) of Indian National Congress. It was really a reward of his services that he was made the vice chairman of District Development Board and later he was also chosen the first president of District Pachayat, Sabarkantha.
            </p>
            <h4>Contribution</h4>
            <p>
                His active contribution in the co-operative activities of the district is incredible. It was his strong, unparallel and trustworthy administration which took the co-operative sectors and several institutes working in this field at the highest peak, such
                as Sabarkantha District Sell & PurchaSe Union, Sabarkantha District Central Co-Operative Bank, Spinning Mills and the Sabarkantha District Milk Producers Union (<a href="http://www.sabardairy.org/" target="_blank">The Sabar Dairy</a>).
                His honest administration served these institutions and strengthened them. Not only these, he also kept inspiring and leading successfully many more co-operative institutions and workers. He passed away on 14<sup>th</sup> June, 1986.
            </p>
            <p>
                To make his works and services towards the people toward the District and the co-operative sectors, the leaders of the Sabarkantha District, alongwith numbers of co-operative workers established Shree Gopaldas Patel Foundation in 1986 in the memory of
                this prominent freedom fighter and trustworthy, honest and a true Gandhian leader. This was the best homage given to this renowned and prominent leader of co-operative sector. The leading political and co-operative workers of the district
                who loved <em>Gopalkaka</em> too much decided to shape this idea and the dream really came true when "The Gopaldas Patel Foundation" was requested under <em> Public Trust </em>and <em>Society Act </em> &mdash; both
                on 18
                <sup>th</sup> August, 1986. A big amount of Millions of Rupees were donated to reach this purpose by the leading co-operative institutions of the district & state. Ex-MP (Member of Parliament) Late Shri Shantubhai Chunibhai Patel was
                nominated the first president of foundation having a Board of Directors including 11 members who themselves were the leading personalities of co-operative and political sectors of the district.
            </p>
            <h3> The Foundation</h3>
            <p>
                <strong>Shree Gopaldas Patel Foundation </strong> handles several activities for a multi-dimension developments of the district. Its very first step in this direction was the successful beginning of <strong>Sabar Gram Vidyapeeth, Sonasan</strong>                    to reach the goal of educating the new generation of the district. The main objectives of the foundation is to impart the Basic Higher Education, providing with Hygiene, Farming, Cattling and Animal Husbandry. To sum up its objectives,
                we can say that the entire Rural Development is the main motto of this foundation.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box_style_4">
                <h3>Board of Directors</h3>
                <ul class="list_staff">
                    <li>
                        <figure><img src="/img/bod/bod1.jpg" alt="Late Shree Gopaldas Patel" class="img-circle"></figure>
                        <h5>
                            Late Shree Gopaldas Patel
                        </h5>
                        <p>Founder of the Trust</p>
                    </li>
                    <li>
                        <figure><img src="/img/bod/bod16.jpg" alt="Mr. Kanubhai M Patel" class="img-circle"></figure>
                        <h5>Mr. Kanubhai M Patel </h5>
                        <p>President</p>
                    </li>
                    <li>
                        <figure><img src="/img/bod/bod5.jpg" alt="Mr. Maheshbhai Patel" class="img-circle"></figure>
                        <h5>Mr. Maheshbhai Patel</h5>
                        <p>Vice President</p>
                    </li>
                    <li>
                        <figure><img src="/img/bod/bod4.jpg" alt="Mr. Ambalal J Upadhyay" class="img-circle"></figure>
                        <h5>Mr. Ambalal J Upadhyay</h5>
                        <p>Secretary</p>
                    </li>
                    <li>
                        <figure><img src="/img/bod/bod3.jpg" alt="Mr. Khemabhai H Patel" class="img-circle"></figure>
                        <h5>Mr. Khemabhai H Patel</h5>
                        <p>Secretary</p>
                    </li>
                    <li>
                        <figure><img src="/img/bod/bod13.jpg" alt="Mr. Jethabhai P Patel" class="img-circle"></figure>
                        <h5>Mr. Jethabhai P Patel</h5>
                        <p>Treasurer</p>
                    </li>
                </ul>
                <p><a href="/Trust/BoardOfDirectors">See all Board of Directors...</a></p>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <ul class="magnific-gallery">
        <li>
            <figure>
                <img src="/img/gallery/0.jpg" title=" Campus" alt="Sabar Gramseva Mahavidyalay">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/0.JPG" title="Sabar Gramseva Mahavidyalay">
                            <i class="pe-7s-albums"></i>
                            <p>Sabar Gramseva Mahavidyalay</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/5.jpg" title=" Campus" alt=" Campus">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/5.JPG" title=" Campus">
                            <i class="pe-7s-albums"></i>
                            <p> Campus</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/2.jpg" title=" Campus" alt=" Campus">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/2.jpg" title=" Campus">
                            <i class="pe-7s-albums"></i>
                            <p> Campus</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/12.JPG" title=" Prayer Hall" alt=" Prayer Hall">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/12.JPG" title=" Prayer Hall">
                            <i class="pe-7s-albums"></i>
                            <p> Prayer Hall</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/6.jpg" title=" Library" alt=" Library">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/6.jpg" title=" Library">
                            <i class="pe-7s-albums"></i>
                            <p> Library</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/4.jpg" title=" Library" alt=" Library">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/4.jpg" title=" Library">
                            <i class="pe-7s-albums"></i>
                            <p> Library</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/3.jpg" title=" Gaushala" alt=" Gaushala">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/3.jpg" title=" Gaushala">
                            <i class="pe-7s-albums"></i>
                            <p> Gaushala</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/13.jpg" title=" Gaushala" alt=" Gaushala">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/13.jpg" title=" Gaushala">
                            <i class="pe-7s-albums"></i>
                            <p> Gaushala</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/1.jpg" title=" Bird Shelter Platform (ચબૂતરો)" alt=" Bird Shelter Platform (ચબૂતરો)">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/1.jpg" title=" Bird Shelter Platform (ચબૂતરો)">
                            <i class="pe-7s-albums"></i>
                            <p> Bird Shelter Platform (ચબૂતરો)</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/9.jpg" title=" Farming" alt=" Farming">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/9.jpg" title=" Farming">
                            <i class="pe-7s-albums"></i>
                            <p> Farming</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/10.jpg" title=" Hostel" alt=" Hostel">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/10.jpg" title=" Hostel">
                            <i class="pe-7s-albums"></i>
                            <p> Hostel</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/img/gallery/11.jpg" title=" Agriculture Land" alt=" Agriculture Land">
                <figcaption>
                    <div class="caption-content">
                        <a href="/img/gallery/11.jpg" title=" Agriculture Land">
                            <i class="pe-7s-albums"></i>
                            <p> Agriculture Land</p>
                        </a>
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>
