@{
    ViewData["Title"] = "Home Page";
}

<div id="full-slider-wrapper">
    <div id="layerslider" style="width: 100%; height: 650px; visibility: visible;" class="ls-container ls-v5">
        <div class="ls-inner" style="background-color: transparent; width: 1500px; height: 650px;">
            <div class="ls-slide ls-animating" data-ls="slidedelay: 5000; transition2d:5;" style="width: 1500px; height: 650px; visibility: visible; display: none; inset: 0px 0px auto auto;">
                <img src="img/slides/slide_1.jpg" class="ls-bg ls-preloaded" alt="Sabar Gramseva Mahavidyalay" style="padding: 0px; border-width: 0px; width: 1920px; height: 1080px; margin-left: -210px; margin-top: -215px;"><div class="ls-gpuhack" style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 165px; top: 0px;"></div>
                <h3 class="ls-l slide_typo" style="top: 256.5px; left: 409px; width: auto; height: auto; font-size: 60px; padding: 0px; border-width: 0px; visibility: visible; margin-left: 0px; margin-top: 0px; transform-origin: 50% bottom 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Empowering <strong>Indian Villages</strong></h3>
                <p class="ls-l slide_typo_2" style="top: 327.5px; left: 579.5px; width: auto; height: auto; font-size: 18px; padding: 0px; border-width: 0px; visibility: visible; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">Through Education and Scientific Approach</p>
                <p class="ls-l" style="top: 382.5px; left: 569.5px; width: auto; height: auto; font-size: 14px; padding: 0px; border-width: 0px; visibility: visible; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1;" data-ls="durationin:2000;delayin:1300;easingin:easeOutElastic;"><a asp-area="" asp-controller="Home" asp-action="Courses" class="button_intro">Check out courses</a> <a asp-area="" asp-controller="Home" asp-action="College" class="button_intro outline">About College</a></p>
            </div><div class="ls-circle-timer"><div class="ls-ct-left"><div class="ls-ct-rotate"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-right"><div class="ls-ct-rotate"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-center"></div></div>
        </div>
        <div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div></div><div class="ls-shadow"></div>
    </div>
</div>








<div class="container_gray_bg" id="home_feat_1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="home_feat_1_box">
                    <a asp-area="" asp-controller="Home" asp-action="Courses">
                        <img src="img/home_feat_1_1.jpg" class="img-responsive" alt="">
                        <div class="short_info"><h3>Courses</h3><i class="arrow_carrot-right_alt2"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="home_feat_1_box">
                    <a asp-area="" asp-controller="Home" asp-action="College">
                        <img src="img/home_feat_1_2.jpg" class="img-responsive" alt="">
                        <div class="short_info"><h3>College</h3><i class="arrow_carrot-right_alt2"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="home_feat_1_box">
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <img src="img/home_feat_1_3.jpg" class="img-responsive" alt="">
                        <div class="short_info"><h3>Admissions</h3><i class="arrow_carrot-right_alt2"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin_60">
    <div class="main_title">
        <h2>Why study the Rural Study courses?</h2>
        <p>...because Rural Study courses let you build your career while serving the nation </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class=" iconcustom-innovation"></i>
                <h3>
                    Bright Career
                </h3>
                <p>
                    Students of Sabar Gramseva Mahavidyalay highly demanded by
                    the agro-companies producing or manufacturing Fertilizers, Pesticides or Seeds
                    as Marketing Staff or Field Workers. They can also apply for <em>Gramsevak</em>,
                    Extension Officer and Field Assistant in Govt of Gujarat.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class=" iconcustom-certificate"></i>
                <h3>Accredition and Affiliation</h3>
                <p>
                    The Sabar Gramseva Mahavidyalay is accredited Grade B by NAAC.
                    Knowledge Consortium of Gujarat (KCG) of Gujarat State Goverment also accredited the
                    college for its excellence in education. The college is affiliated with Hemchandracharya
                    North Gujarat University, Patan.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class="iconcustom-diploma"></i>
                <h3>Faculties</h3>
                <p>
                    It is mandatory for all teaching and non-teaching staff to stay in residential staff
                    quarters in the college. The Sabar Gramseva Mahavidyalay is run by
                    highly educated and qualified staff. Moreover, the teaching staff of
                    Sabar Gramseva Mahavidyalay are highly experienced.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class=" iconcustom-student"></i>
                <h3>Alumni</h3>
                <p>
                    The strength of any educational institute lies in its Alumni. The Sabar Gramseva Mahavidyalay
                    was founded in 1986. Every year 50-60 students get graduated and so far, the college
                    holds the record of 1500+ alumni having their career built in various fields.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class=" iconcustom-library"></i>
                <h3>Infrastructure</h3>
                <p>
                    Sabar Gramseva Mahavidyalay is spread across 107 acres.
                    We have also 3 classrooms for BRS, 2 for MSW and 2 for MRS with good ventilation.
                    The college has an Agronomy Lab, Animal Husbandry Lab, Horticulture Nursery, Medicinal Plant Garden and Well
                    Equipped Dispensary.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="box_feat_home">
                <i class=" iconcustom-questioning"></i>
                <h3>Facilities</h3>
                <p>
                    Sabar Gramseva Mahavidyalay has hostel facilities for the students
                    and residential staff quarters for all teaching and non-teaching staffs. There is a full fledged
                    Gaushala (Cowshed) having 30+ milking cows and it is well-equipped with drip-irrigation facilities.
                </p>
            </div>
        </div>
    </div>
    <div style="margin-top: 40px;" class="text-center"><a asp-area="" asp-controller="Home" asp-action="College" class=" button_outline large">Know more about the college</a></div>
</div>
<div class="bg_content testimonials">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <blockquote>
                            <p>
                                Welcome to Sabar Gramseva Mahavidyalay managed by Shri Gopaldas Patel Foundation, Sonasan. This is one and only one NGO in the district established after the death of Late Shri Gopaldas Patel who was the architect of Sabarkantha District. This foundation was established to fulfill his dreams of the development of the farmers. The foundation accomplishes various activities to gain its objectives.
                            </p>
                        </blockquote>
                        <small>
                            <img class="img-circle" src="/img/bod/bod16.jpg" alt="Mr. Kanubhai M Patel"> Mr. Kanubhai M Patel, President
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>